.food-munch-logo {
  width: 80px;
  height: 70px;
}
#navItem1 {
  color: #323f4b;
  font-family: "Roboto";
}
#navItem2 {
  color: #323f4b;
  font-family: "Roboto";
}
#navItem3 {
  color: #323f4b;
  font-family: "Roboto";
}
#navItem4 {
  color: #323f4b;
  font-family: "Roboto";
}
.banner-section-bg-container {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
  height: 100vh;
  background-size: cover;
}
.banner-heading {
  color: white;
  font-family: "Roboto";
  font-size: 45px;
  font-weight: 300;
}
.banner-caption {
  color: #f5f7fa;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 300;
}
.custom-button {
  color: white;
  background-color: #d0b200;
  width: 130px;
  height: 45px;
  border-width: 0;
  border-radius: 8px;
  margin-right: 10px;
}
.custom-outline-button {
  color: #d0b200;
  background-color: transparent;
  width: 130px;
  height: 45px;
  border-style: solid;
  border-width: 1px;
  border-color: #d0b200;
  border-radius: 8px;
}


.explore-menu-section {
    background-color: white;
  }
  .menu-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .menu-item-image {
    border-radius: 16px;
  }
  .menu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 18px;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
  }
  .menu-item-link {
    color: #d0b200;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
  }
  .menu-item-card {
    border-radius: 16px;
  }
  .delivery-and-payment-section {
    background-color: white;
  }
  .delivery-and-payment-section-img {
    width: 700px;
  }
  .delivery-and-payment-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 700;
  }
  .delivery-and-payment-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-family: "Roboto";
  font-size:20px;
}
.payment-card-img {
  width: 50px;
  height: 50px;
  margin-right: 28px;
}
.custom-button {
  color: white;
  background-color: #d0b200;
  width: 130px;
  height: 45px;
  border-width: 0;
  border-radius: 8px;
  margin-right: 10px;
}